node_modules/
.env
*.log
build-state.tar.zst
*.tar.gz
*.tar.xz
*.deb
*.rpm
out/
.gclient
.gclient_entries
# Ignore brave build directories, but NOT our source code in .github/actions/stage/src/build/
/build/
brave-build/

